.font-sans-custom {
  font-family: "Inter", "Noto Sans SC", system-ui, sans-serif;
}

body {
  font-family: "Inter", "Noto Sans SC", system-ui, sans-serif;
}

.prose b {
  font-weight: 600;
}

.prose strong {
  font-weight: 600;
}

.caption-font {
  font-family: "Inter", "Noto Sans SC", system-ui, sans-serif;
}

.content-font {
  font-family: "Inter", "Noto Sans SC", system-ui, sans-serif;
}

.website-title-font {
  font-family: "Inter", "Noto Sans SC", system-ui, sans-serif;
}

.post-list-caption-font {
  font-family: "Inter", "Noto Sans SC", system-ui, sans-serif;
}